Body {
  background: rgb(43, 148, 235);
  font: normal 1rem Arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background: white;
  border-radius: 0.625rem;
  padding: 1rem;
  width: 500px;
  margin: auto;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.288);
}

div#result {
  word-wrap: break-word;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
  font: italic 1.2rem Arial;
}
